@import "src/css/design/colors.scss";

.material-button {
  min-width: 128px;
  height: 36px;
  padding: 0 16px;
  color: $color_sand;
  background: $color_blue;

  border-radius: 4px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.3;
  }
}
